.generic-content-container{
  p{
    font-weight: 300;
    /* سد الفراغات في النص نفسة بين الاسطر  بشكل افقي*/
    line-height: 1.65;
/*top right bottom left*/
    margin: 0 0 1.8rem 0;
    @mixin atSmall{
        font-size: 1.125rem;
    }
  }
  p a{
    /*اي لينك داخل الفقرة */
    font-weight: 700;
  }
}
